In [1]:
import pandas as pd
import numpy as np
import os

In [3]:
print(os.getcwd())

/Users/liyi/Desktop/workshop

In [4]:
df = pd.read_csv('/Users/liyi/Desktop/workshop/univ_reduced.csv')

In [6]:
df.head()

,INSTNM,SAT_AVG_ALL,UGDS,UGDS_RICH,MD_EARN_WNE_P10
0,Alabama A & M University,850.0,4505.0,0.0340,29900
1,University of Alabama at Birmingham,1147.0,11269.0,0.5863,40200
2,Amridge University,NaN,308.0,0.2110,40100
3,University of Alabama in Huntsville,1221.0,5829.0,0.7024,45600
4,Alabama State University,844.0,4740.0,0.0165,26700

In [7]:
df.shape

(7593, 5)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7593 entries, 0 to 7592
Data columns (total 5 columns):
INSTNM             7593 non-null object
SAT_AVG_ALL        1398 non-null float64
UGDS               6858 non-null float64
UGDS_RICH          6858 non-null float64
MD_EARN_WNE_P10    6454 non-null object
dtypes: float64(3), object(2)
memory usage: 296.7+ KB

In [10]:
df.isnull().sum()

INSTNM                0
SAT_AVG_ALL        6195
UGDS                735
UGDS_RICH           735
MD_EARN_WNE_P10    1139
dtype: int64